<!--<section class="todoapp">
  <header class="header">
    <h1>todos</h1>    
    <input class="new-todo" placeholder="What needs to be done?" autofocus=""
        [(ngModel)]="newTodo" (keyup.enter)="addTodo(newTodo)">
    <!--<button class="add" (click)="addTodo(newTodo)">Add</button>-->
  <!--</header>
  <section class="main">
    <ul class="todo-list">
      <li *ngFor="#todo of todos" [class.completed]="todo.completed"  ngClass="{completed: todo.completed, editing: todo == editedTodo}">
          <!--<pre >{{todo | json}}</pre>-->
       <!--<todo-todo [todo]="todo"-->
          <!--(done)="removeTodo($event)"></todo-todo>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</section>-->
  	<!--<footer class="footer" >-->
		<!--<span class="todo-count"><strong></strong>  left</span>-->
		<!--<button class="clear-completed"  (click)="removeCompleted()">Clear completed</button>-->
	<!--</footer>-->
<!--</section>-->
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus
        [(ngModel)]="newTodo" (keyup.enter)="addTodo(newTodo)">
    <!--<button class="add" (click)="addTodo(newTodo)">Add</button>-->
  </header>
  <section class="main">
    <ul class="todo-list">
      <todo-item *ngFor="#todo of todos"
        [todo]="todo"
        (delete)="deleteTodo($event)"
        (todoUpdated)="todoUpdated($event)">
      </todo-item>
    </ul>
  </section>
</section>