<section class="projectapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus
        [(ngModel)]="newTodo" (keyup.enter)="addTodo(newTodo)">
    <!--<button class="add" (click)="addTodo(newTodo)">Add</button>-->
  </header>
  <section class="main">
    <ul class="todo-list">
      <todo-item *ngFor="#todo of todos"
        [todo]="todo"
        (delete)="deleteTodo($event)"
        (todoUpdated)="todoUpdated($event)">
      </todo-item>
    </ul>
  </section>
</section>